.home{
    display: flex;
    .homeContainer{
        background-color: azure;
        flex: 4;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }
    }
}